* {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

/* header */
body{
    width: 90%;
    margin: 0 auto;
}

header{
    padding-top: 1%;
    background-color: lightblue;
    border: 15px lightblue;
}/*Hạn chế dùng Body> vì thẻ body là bao hàm nhiều thứ */

header>h1{
    margin: 0;
    padding: 0;
    text-align: center;
    color: rgb(13, 31, 227);
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* menu1 */
nav>.menu1 {
    padding: 0;
    margin: 0;
    width: 20%;
}/* Chuyển nằm ngang và độ lớn */

nav>.menu1>a>img {
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}/* Canh giữa tấm ảnh */

/* menu2 */
nav>.menu2>ul {
    padding: 0;
    margin: 0;
    display: flex;
    width: 50%;
}/* Chuyển nằm ngang và độ lớn */


.menu2>ul>li>a {
    font-size: 18px;
    text-align: center;
    width: 110px;
}/* Chỉnh cái ptử trong list */

.menu2>ul>li>a:hover {
    color: rgb(30, 23, 237);
    transition: 0.3s ease-in-out;
}/* Khi chỉ con chuột vào */
.menu2>ul>li>a:after{
    content: '';
    left: 0;
    right: 0;
    background-color: aqua;
}
/* Thanh tìm kiếm */
.right{
    margin-left: 3%;
    width: 30%;
}
.right div,a{
    display: inline-block;
}

.right>a{
    margin-left: 5%;
}

.search {
    margin-right: auto;
    display: flex;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    border: 2px solid white;
    border-radius: 30px;
}

.search>input {
    width: 250px;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 30px;
}/* Thanh search */

.search>button {
    width: 40px;
    border: 0;
    border-radius: 50%;
    background-color: white;
}/* Nút search */ 


/* .Main_Content */
.ad {
    padding: 2% 0 2% 0;
    margin: 0;

}

.ad>ul{
    display: flex;
    justify-content: space-between;
}

.ad>ul>li{
    width: 30%;
}

.ad>ul>li>a>img {
    width: 100%;

}

body>.Main_Content>*:not(:first-child) {
    border: 3px solid lightblue;
    margin-top: 5px;
}


.Category > p{
    color:red;
}

/* Phần hiện sách */
.menu_sach {
    display: flex;
    padding: 0;
    margin: 0;
}

.sach {
    width: 20%;
    padding: 5px;
    margin: 0;
    border: 3px solid lightblue;
    border-radius: 10px;
}

.sach>li {
    text-align: center;
}

.sach>li>a {
    text-decoration: none;
}

.sach>li>a>img {
    width: 100%;
}

/* Phần cuối*/
body>div {
    background-color: lightblue;
}

.last {
    padding: 0;
    margin: 0;
    margin-top: 50px;
    margin-left: 150px;
}

.last>li>a {
    text-decoration: none;
}